allow boot_control_hal block_device:dir { open read };

allow boot_control_hal {
    boot_block_device
    custom_ab_block_device
    mdtp_device
    modem_block_device
    ssd_device
    system_block_device
}:blk_file { getattr };

allow boot_control_hal {
    gpt_block_device
    xbl_block_device
}:blk_file { rw_file_perms };

allow boot_control_hal sg_device:chr_file rw_file_perms;
