type essential_camera_app, domain, coredomain;

app_domain(essential_camera_app)
net_domain(essential_camera_app)

allow essential_camera_app app_api_service:service_manager find;
allow essential_camera_app audioserver_service:service_manager find;
allow essential_camera_app cameraserver_service:service_manager find;
allow essential_camera_app drmserver_service:service_manager find;
allow essential_camera_app mediacodec_service:service_manager find;
allow essential_camera_app mediadrmserver_service:service_manager find;
allow essential_camera_app mediaextractor_service:service_manager find;
allow essential_camera_app mediaserver_service:service_manager find;
allow essential_camera_app nfc_service:service_manager find;
allow essential_camera_app radio_service:service_manager find;
allow essential_camera_app servicemanager:service_manager list;
allow essential_camera_app surfaceflinger_service:service_manager find;

allow essential_camera_app app_data_file:dir { search };
allow essential_camera_app app_data_file:file { rwx_file_perms };
allow essential_camera_app media_rw_data_file:dir create_dir_perms;
allow essential_camera_app media_rw_data_file:file create_file_perms;
allow essential_camera_app neko_device:chr_file rw_file_perms;
allow essential_camera_app proc:file r_file_perms;
allow essential_camera_app proc_meminfo:file { r_file_perms };
allow essential_camera_app sidecar_file:file { r_file_perms };
allow essential_camera_app sidecar_service:service_manager { find };
allow essential_camera_app system_app_data_file:file { read write getattr };

allow essential_camera_app hal_sidecar_essential_default:binder call;

r_dir_file(essential_camera_app, proc_net)
