type debugfs_wlan, debugfs_type, fs_type;
type neko_device, dev_type;
type netmgr_data_file, file_type, data_file_type;
type proc_sensordata, fs_type;
type sysfs_fingerprint, sysfs_type, fs_type;
type sidecar_file, sysfs_type, dev_type;
