allow hal_sensors_default proc_sensordata:dir r_dir_perms;
allow hal_sensors_default proc_sensordata:file r_file_perms;
allow hal_sensors_default sysfs_laser:file rw_file_perms;
