type hbtp_grip, domain;

allow hbtp_grip hbtp:binder { call transfer };
allow hbtp_grip hbtp_device:chr_file { rw_file_perms };
allow hbtp_grip hbtp_exec:file { rx_file_perms };
allow hbtp_grip hbtp_log_file:dir { search };
allow hbtp_grip improve_touch_service:service_manager { find };
allow hbtp_grip shell_exec:file { entrypoint getattr read };
allow hbtp_grip servicemanager:binder { call };
allow hbtp_grip system_file:lnk_file { getattr };
allow hbtp_grip sysfs:file { r_file_perms };
