allow init adsprpcd_file:filesystem { mount relabelfrom relabelto };
allow init hbtp_grip:process { rlimitinh siginh transition };
allow init neko_device:chr_file { r_file_perms setattr };
allow init sidecar_file:file { r_file_perms setattr };
allow init sidecar_file:dir { r_dir_perms setattr };
