allow update_engine self:capability { dac_override sys_rawio };

allow update_engine_common {
    boot_block_device
    custom_ab_block_device
    mdtp_device
    misc_block_device
    modem_block_device
    ssd_device
    system_block_device
    xbl_block_device
}:blk_file { rw_file_perms };
