on post-fs-data
    mkdir /data/fpc 0700 system system
    chown system system /sys/devices/soc/soc:fpc,fpc1020/irq
    chown system system /sys/devices/soc/soc:fpc,fpc1020/wakeup_enable
    chown system system /sys/devices/soc/soc:fpc,fpc1020/hw_reset

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group system
